html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes swipe-indication {
  0% {
    transform: translateX(100vw);
  }
  35% {
    transform: translateX(100vw);
  }
  42% {
    transform: translateX(97vw);
  }
  58% {
    transform: translateX(97vw);
  }
  65% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(100vw);
  }
}
